.page-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  position: relative;
  z-index: 11;
}

.img {
  position: relative;
  z-index: 10;
  max-width: 650px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  margin-bottom: 30px;
}

.page-header__content {
  max-width: 620px;
  width: 100%;
}

.page-header__logo {
  position: relative;
  font-family: Geometria-Bold;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}

.page-header__logo-beeline {
  letter-spacing: 5px;
}

.page-header__logo-awards {
  letter-spacing: 2px;
}

.page-header__logo div {
  position: relative;
  font-family: Geometria-medium;
  display: block;
  text-align: center;
  font-size: 30px;
  text-transform: none;

  &::after {
    content: '';
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 1px;
    width: 21%;
    background: #000000;
  }

  &::before {
    content: '';
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 1px;
    width: 21%;
    background: #000000;
  }
}

.page-header__text {
  max-width: 750px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;

  line-height: 27px;
}

.page-header__text span {
  text-transform: uppercase;
}

@media (max-width: 768px) {
}

@media (max-width: 550px) {
  .page-header__content {
    padding-top: 25px;
  }

  .page-header__text {
    font-size: 14px;
    line-height: 21px
  }

  .page-header__logo {
    font-size: 53px;
  }

  .page-header__logo div {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .page-header__logo div {
    &::after,
    &::before {
      width: 12%
    }
  }
}
