.seating__content {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.seating-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

.seating__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;

}

.seating__input {
  border: none;
  max-width: 600px;
  width: 100%;

  padding: 10px 20px 10px 20px;
  font-size: 25px;
  outline: none;
}

@media (max-width: 600px) {
  .seating__content {
    height: 100%;
    padding-top: 100px;
  }
}
