doctype html
head
  title Beeline
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="format-detection" content="telephone=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
body
  .bg
  div
    .main-nav-overlay
      nav.main-nav
        ul
          li
            a(href="#page-1").main-nav__link
              | Главная
          li
            a(href="#page-2").main-nav__link
              | Dress code
          li
            a(href="#page-3").main-nav__link
              | Место проведения
          li
            a(href="#page-4").main-nav__link
              | Рассадка
          li
            a(href="#page-5").main-nav__link
              | Контакты
          //- li
          //-   a(href="#page-6").main-nav__link
          //-     | Фото
    .navBurger#navToggle
  div#fullpage
    header.container.page-header.section
      .page-header__content
        .page-header__logo
          span.page-header__logo-beeline Beeline 
          span.page-header__logo-awards Awards
          div
            | время достижений
        .page-header__text
          | Жизнь состоит из важных моментов, достижений и побед. Каждый день мы делаем все, ради того, чтобы покорить какую-либо вершину и стать сильнее. Но только собравшись в мощную сплоченную команду, можно достичь невероятных результатов.
    section.container.section
      .dress-code
        .dress-code__text
          .dress-code__title
            | Рекомендуемый DRESS CODE
          .dress-code__type.active(data-img="lady")
            .dress-code__section-title
              | Lady:
            .dress-code__section-text
              | Вечерние или коктейльные платья. Вечерний make-up, аксессуары, элегантная прическа
          .dress-code__type(data-img="gentleman")
            .dress-code__section-title
              | Gentleman:
            .dress-code__section-text
              | Стильный костюм, галстук или бабочка, изысканный и утонченный образ.
        .dress-code__img
          .dress-code__img-wrapper.derss-code__lady.active
            img(src="./images/lady.jpg" class="derss-code__people")
          .dress-code__img-wrapper.derss-code__gentleman
            img(src="./images/gentleman.jpg" class="derss-code__people")

    section.location.container.section
      .location__content
        .location__text
          | Приглашаем вас
          .location__data
            | 24 января
          .location__data-time
            | сбор гостей
            br
            .location__data-time-div
              | с
              span.location__data-time-before
                = ' '
                | 17:00
                =' '
              | до
              span.location__data-time-after
                = ' '
                | 18:00
          .location__data-address
              |  <span>Адрес:</span> ул. Левобережная 28 В,<br /> ресторан Голубое озеро
          .location__data-description
            | * пропуск гостей на территорию <br /> осуществляется ровно с 17:00
        .lacation__map-wrapper
          .location__map.gradient-box
            a(href="./images/map.jpg" data-fancybox).location__map-link
              img(class='map' src='./images/map.jpg')
          .location__map-text
            | Все подробности о трансфере на мероприятие вы узнаете в отдельном письме
    section.container.section
      .seating__content
        .seating__title
          | Рассадка
        form(action="#", method="get").seating-form
          .seating__input-wrapper.gradient-box
            input(type="text" name="surname" placeholder="Введите ФИО" class="seating__input")
          button.btn.seating__button
            span
              | Узнать номер стола
            .gradient
    section.container.section
      .contacts
        .contacts__questions
          | При возникновении вопросов вы можете обратиться:
        .contacts__name
          | Мария Гурьева
        .contacts__contacts-block
          .contacts__email
            | E-mail:
            = ' '
            a(href= "mailto:mvgureva@rnd.beeline.ru")
               | mvgureva@rnd.beeline.ru
          .contacts__tel
            | Тел.: +7 961 274 50 63
    //- section.container.section.section-photo
      .photo-video__content
        .prev
          i(class="fa fa-angle-right")
        .next
          i(class="fa fa-angle-left")
        .photos
          .photos-slide
            img(src="./images/lady.jpg")
          .photos-slide
            img(src="./images/gentleman.jpg")
          .photos-slide
            img(src="./images/lady.jpg")
          .photos-slide
            img(src="./images/gentleman.jpg")
          .photos-slide
            img(src="./images/lady.jpg")
          .photos-slide
            img(src="./images/gentleman.jpg")

  .popup
    .popup-overlay
      .popup-container
        button.popup-close
        .popup__text
          | Ваш номер стола:
        .popup__number
          | Нет совпадений

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
